---
layout: default
title: Home
redirect_from:
  - /about/
  - /about.html
---

<div class="intro">
  <div>
    <h1>Max Rudolph</h1>
    <p>I am a PhD student at UT Austin advised by <a href="{{ site.author.advisor_url }}">Amy Zhang</a> working on deep reinforcement learning. I was supported by the <a href="https://www.nsf.gov/funding/initiatives/nrt/advancing-ethical-ai-through-convergent-research">NSF NRT Ethical AI Fellowship</a>. I am interested in all sorts of deep reinforcement learning problems but recently I've been thinking about unsupervised learning within decision-making contexts and applying those tools to large-scale robot learning.</p>
    <p>Previously, I did work in the Structured Techniques for Algorithmic Robotics lab (<a href="https://star-lab.cc.gatech.edu/">STAR</a>) with Professor <a href="https://harishravichandar.com/">Harish Ravichandar</a> and the Robot Autonomy and Interactive Learning lab (<a href="https://rail.gatech.edu/">RAIL</a>) with Professor <a href="https://www.cc.gatech.edu/~chernova/">Sonia Chernova</a>. I also worked closely with Robotics PhD student <a href="https://www.joannetruong.com/">Joanne Truong</a> on sim2real for legged robotics.</p>
    <p class="links">
      <a href="mailto:{{ site.author.email }}">Email</a> /
      <a href="{{ site.author.scholar }}" target="_blank" rel="noopener">Google Scholar</a> /
      <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank" rel="noopener">Twitter</a> /
      <a href="https://github.com/{{ site.author.github }}" target="_blank" rel="noopener">GitHub</a> /
      <a href="{{ site.author.cv | relative_url }}">CV</a>
    </p>
    <p><a href="{{ site.author.cv | relative_url }}">Detailed C.V.</a> (updated August 2025)</p>
  </div>
  <figure class="intro-photo">
    <img src="{{ '/images/web/profile.jpg' | relative_url }}" alt="Max Rudolph" width="220" height="220">
  </figure>
</div>

<h2>Education</h2>
<ul class="edu-inline">
  {% for item in site.data.education %}
    <li>
      <strong>{{ item.degree }}</strong>, {{ item.school }}, {{ item.years }}
    </li>
  {% endfor %}
</ul>

<h2>Selected Publications</h2>
{% include publications_by_topic.html %}

<h2>Other stuff</h2>
<p>I like to play tennis and make bean-to-bar chocolate and bon bons. I also run the CS Graduate Student organization (<a href="https://www.cs.utexas.edu/~gracs/">GRACS</a>) for UTCS. During undergrad, I was lucky to intern at the National Security Agency and NASA <a href="https://www.jpl.nasa.gov/edu/news/2020/1/9/intern-turns-head-on-nasas-next-mars-rover/">Jet Propulsion Lab</a> for two summers working on software for the <a href="https://science.nasa.gov/mission/mars-2020-perseverance/">Mars Perseverence Rover</a> and control algorithms for the <a href="https://science.nasa.gov/mission/psyche/">Psyche Mission</a>.</p>
<p>
  <a href="{{ '/photos/' | relative_url }}">Photography</a> /
  <a href="{{ '/hobbies/' | relative_url }}">Hobbies</a>
</p>
<div class="also-photos">
  <img src="{{ '/images/web/bean_to_bar.jpg' | relative_url }}" alt="" loading="lazy">
  <img src="{{ '/images/web/earth_day_chocolates.jpg' | relative_url }}" alt="" loading="lazy">
</div>
