<footer class="site-footer">
  <div class="wrap footer-inner">
    <p class="footer-name">{{ site.author.name }}</p>
    <ul class="footer-links">
      <li><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
      <li><a href="{{ site.author.scholar }}" target="_blank" rel="noopener">Google Scholar</a></li>
      <li><a href="https://github.com/{{ site.author.github }}" target="_blank" rel="noopener">GitHub</a></li>
      <li><a href="https://twitter.com/{{ site.author.twitter }}" target="_blank" rel="noopener">Twitter</a></li>
      <li><a href="{{ site.author.cv | relative_url }}" target="_blank" rel="noopener">CV</a></li>
    </ul>
  </div>
</footer>
